.selected{
    background-color: $color-1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    h2.select-item{
        color: $color-background;
        text-align: center;
        margin: 0px;
        font-size: rem(30);
    }

    img{
        width: 150px;
        box-shadow: 0  0 10px 0 #182d41d0;
    }
}

.hidden{
    display: none !important;
}

.form-search{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 120px;
    z-index: 3;

    .label-search{
        font-size: rem(1);
    }

    .input-search{
        height: 50px;
        width: 250px;
        padding: 0 20px;
        border-radius: 50px;
        border: 2px solid $color-1;
        background-color: $color-background;
        color: $color-1;
        transition: background-color 1s ease;
        position: absolute;
        top: 130px;
        transform: translate(-50%);
        margin-left: -15px;

        @include media($animation){
            padding: 0 20px;
            height: 50px;
            width: 500px;
            top: 230px; 
            margin-left: -10px;
        }

        &::placeholder{
            color: $color-1;
        }

        &:focus{
            background-color: $color-1;
            color: $color-background;
            outline: none;
        }

        &:focus ~ .btn-search{
            background-color: $color-1;
            color: $color-background;
        }
    }

    .input-animated{
        animation-name: input;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }

    .btn-search{
        border: none;
        background-color: $color-background;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        color: $color-1;
        margin-left: -35px;
        transition: background-color 1s ease;
        position: relative;
        top: 145px;
        left:100px;

        @include media($animation){
            top: 245px;
            left:235px;
        }
    }

    .btn-animated{
        animation-name: button;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
}

.fav-top{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-1;
    font-weight: bold;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2;

    .fav-counter{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color-1;
        color: $color-background;
        text-align: center;
        font-size: rem(14);
        line-height: 20px;
    }

    p{
        display: none;

        @include media($tablet){
            display: inline-block;
            margin: 0 5px;
        }
    }

    .fav-arrow{

        margin-left: 10px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), color 0.5s ease;
        
        @include media($tablet){
            margin: 0px;
        }
    }

    .fav-arrow-open{
        transform: rotate(180deg);
    }
}


.fav-bottom{
    margin-top: 150px;
    width: 100%;
    max-height: 0px;
    transition:max-height 0.5s; 
    overflow:hidden;
    text-align: center;
    color: $color-1;
    position: fixed;
    background-color: $color-background;
    z-index: 2;

    .fav-bottom-title{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px;

        .btn-reset{
            margin-left: 30px;
        }
    }

    .fav-list-wrapper{
        width: 100%;
        height: calc(100vh - 250px);
        overflow: scroll;
        background-color: $color-1;

        .fav-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-start;
            color: $color-background;
            flex-flow: row wrap;

            &-element{
                height: 220px;
                width: 100px;
                padding: 10px;
                background-color: $color-1;
                color: $color-background;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;

                img{
                    width: 80px;
                    margin: 10px 0;
                }
            }
        }
    }  
}

.fav-bottom--open{
    max-height: calc(100vh - 100px);
}

.show-list{
    .error-message{
        margin-top: 200px;
        color: $color-1;
        text-align: center;
    }
}

.search-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    top: 200px;
}

.search-item{
    width: 210px;
    height: 360px;
    color: $color-1;
    font-size: rem(12);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

    .select-item{
        font-weight: 400;
    }
}




/* 
.form-search{
    width: 100%;
    text-align: center;
    position: fixed;
    top: 120px;
    z-index: 3;

    .label-search{
        font-size: rem(1);
    }

    .input-search{
        height: 30px;
        width: 200px;
        padding: 0 10px;
        border-radius: 15px;
        border: 2px solid $color-1;
        background-color: $color-background;
        color: $color-1;
        margin-left: -25px;
        transition: background-color 1s ease;

        &::placeholder{
            color: $color-1;
        }

        &:focus{
            background-color: $color-1;
            color: $color-background;
            outline: none;
        }

        &:focus ~ .btn-search{
            background-color: $color-1;
            color: $color-background;
        }
    }

    .btn-search{
        border: none;
        background-color: $color-background;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        color: $color-1;
        margin-left: -35px;
        transition: background-color 1s ease;
    }
}
*/