<main class="main">
    <form id="form-search" class="form-search" action="" method="POST">
        <label for="search" class="label-search">Busca una serie:</label>
        <input id="input-search" class="input-search" name="search" type="text" placeholder="Outlander">
        <button id="btn-search" class="btn-search" type="button"> <i class="fas fa-search"></i></button>
    </form>
    <section class="fav-wrapper">
        <div id="fav-top" class="fav-top">
            <div id="fav-counter" class="fav-counter">0</div>
            <p>Favoritas</p>
            <div id="fav-arrow" class="fav-arrow"><i class="fas fa-chevron-down"></i></div>
        </div>
        <div id="fav-bottom" class="fav-bottom">
            <h2>Tu lista de series favoritas:</h2>
            <ul id="fav-list" class="fav-list"></ul>
        </div>    
    </section>
    <section id="show-list" class="show-list"></section>
</main>


