.header{
    width: 100%;
    height: 150px;
    text-align: center;
    color: $color-1;
    padding-top: 20px;
    position: fixed;
    top: 0px;
    background-color: $color-background;
    z-index: 1;
    
    i{
        font-size: rem(25);
        margin-bottom: 0px;
    }

    &-title{
        margin-top: 10px;
        font-size: rem(40);
    }
}